<!--<div class="row">
    <div class="col-md-12">
        <h2>Edit Content</h2>
    </div>
    
    <form [formGroup]="addContent" novalidate>
        <div class="form-group">
          <label for="exampleFormControlInput1">Title Post</label>
          <input type="text" formControlName="title" class="form-control" placeholder="title">
        </div><br>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea formControlName="description" class="form-control" rows="3" placeholder="description"></textarea>
        </div><br>
            <div class="form-group">
              <label for="exampleFormControlFile1" >choose file</label><br>
              <input type="file" class="form-control-file"  id="exampleFormControlFile1">
            </div><br>
            <button type="submit" (click)="onSubmit()" class="btn btn-success">Edit Content</button>
      </form>-->
    <!--[formGroup]="addContent" novalidate-->
    
    
    <!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
   <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
   <a href="/list-content" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Home</a>
   <a href="/add-content" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><p>+</p></a>
   <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
   <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
   <div class="w3-dropdown-hover w3-hide-small">
     <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>     
     <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
       <a href="#" class="w3-bar-item w3-button">One new friend request</a>
       <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
       <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
     </div>
   </div>
  </div>
 </div>

<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h2>Add Content</h2>
    </div>
    
        <!-- Middle Column -->
        <div class="w3-col m7">
        
          <div class="w3-row-padding">
            <div class="w3-col m12">
              <div class="w3-card w3-round w3-white">
                <div class="w3-container w3-padding">
                  <form  novalidate>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Description</label>
                      <textarea formControlName="description" class="form-control" rows="3" placeholder="description"></textarea>
                    </div><br>
                        <div class="form-group">
                          <input type="file" >
                          <img [src]="" formControlName="file">
                          <button class="btn btn-success"> upload</button>
                        </div><br>
                        <button type="submit" (click)="onSubmit()" class="btn btn-success">Edit Content</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
    <!--[formGroup]="addContent" novalidate-->
</div>




      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/a3aad2d743.js" crossorigin="anonymous"></script>
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>

































    
    
    
    
    
    